@{
    ViewBag.Title = "CadastroConta";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}
<div class="row" style="margin: 3rem 0">
    <div class="col-sm-12 text-center">
        <h2>Registro de Conta</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 text-center">
        <a class="block-link" href="~/ADM/CadastroContaAvulsa" title="Conta Avulsa">
            <img src="~/img/usu_normal.png" alt="Conta Avulsa">
            <h4>Conta Avulsa</h4>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="block-link" href="~/ADM/CadastroContaFidelizada" title="Conta Fidelizada">
            <img src="~/img/usu_fidelizado.png" alt="Conta Fidelizada">
            <h4>Conta Fidelizada</h4>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="block-link" href="~/ADM/ContasAbertas_" title="Contas Abertas">
            <img src="~/img/conta_menu_principal.png" alt="Contas Abertas">
            <h4>Contas Abertas</h4>
        </a>
    </div>
</div>
<div class="row" style="margin-top: 5rem">
    <div class="col-sm-12">
        <button class="btn btn-success" type="button" onclick="(function(){window.history.back()})()">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Voltar
        </button>
    </div>
</div>