
@{
    ViewBag.Title = "CadastroConta";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}

<h4>Registro de Conta</h4>

<div class="container">
    <br />
    <br />
    <div class="text-center">
        <h2>Cadastro de contas</h2>
    </div>
    <br />
    <br />
    <div class="row">

        <div class="col-sm-3">
            <div id="DivCriarFormulario" class="text-right">
                @*<a href="~/ADM/CadastroVinho">
                        <img src="~/img/vinho.jpg" width="150" height="110" />
                        <br />
                        <h4 class="FonteMenu">Conta Avulsa</h4>
                    </a>*@
            </div>
        </div>




        <div class="col-sm-3">
            <div id="DivEnvioResult" class="text-center">
                <a href="~/ADM/CadastroContaAvulsa">
                    <img src="~/img/usu_normal.jpg" width="150" height="110" />
                    <br />
                    <h4 class="FonteMenu">Conta Avulsa</h4>
                </a>
            </div>


        </div>

        <div class="col-sm-3">
            <div id="DivEnvioQuestionario" class="text-center">
                <a href="~/ADM/CadastroContaFidelizada">
                    <img src="~/img/usu_fidelizado.png" width="150" height="110" />
                    <br />
                    <h4 class="FonteMenu">Conta Fidelizada</h4>
                </a>
            </div>

        </div>
        <div class="col-sm-2">
            <div id="DivRelatorioAvaliação" class="text-right">
                @*<a href="/ADM/CadastroCerveja">
                        <img src="~/img/cerveja.jpg" width="150" height="110" />
                        <br />
                        <h4 class="FonteMenu">Conta Fidelizada</h4>
                    </a>*@
            </div>
        </div>

    </div>
</div>

