@{
ViewBag.Title = "IndexGarçom";
Layout = "~/SharedMaster/MasterADM.cshtml";
}

<div class="row" style="margin: 3rem 0">
    <div class="col-sm-12 text-center">
        <h2>Menu</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-center">
        <a class="block-link" href="~/ADM/Relatorios" title="Relatórios">
            <img src="~/img/relatorio.png" alt="Relatórios">
            <h4>Relatórios</h4>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a class="block-link" href="~/ADM/CadastroCliente" title="Cadastro de Clientes">
            <img src="~/img/cad_cli.png" alt="Cadastro de Clientes">
            <h4>Cadastro de Clientes</h4>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a class="block-link" href="~/ADM/CadastroConta" title="Abrir Conta">
            <img src="~/img/conta_menu_principal.png" alt="Abrir Conta">
            <h4>Abrir Conta</h4>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a class="block-link" href="~/ADM/Venda_conta_buffet" title="Abrir Conta Buffet">
            <img src="~/img/buffet.png" alt="Abrir Conta Buffet">
            <h4>Abrir Conta Buffet</h4>
        </a>
    </div>
</div>