
@{
    ViewBag.Title = "MenuProdCadastro";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        <a href="~/ADM/Index">
            <img src="~/img/voltar.png" width="120" height="120" />
        </a>
    </div>
</div>

<div class="container">
    <br />
    <br />
    <div class="text-center">
        <h2>Produtos Cadastrados</h2>
    </div>
    <br />
    <br />
    <div class="row">

        <div class="col-sm-2">
            <div id="DivCriarFormulario" class="text-right">
                <a href="~/ADM/VinhosCadastrados">
                    <img src="~/img/vinho.png" width="100" height="100" />
                    <br />
                    <h4 class="FonteMenu">Vinhos</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="DivEnvioResult" class="text-center">
                <a href="~/ADM/QueijosCadastrados">
                    <img src="~/img/queijo.png" width="100" height="100" />
                    <br />
                    <h4 class="FonteMenu">Queijos</h4>
                </a>
            </div>
        </div>

        <div class="col-sm-2">
            <div id="DivEnvioQuestionario" class="text-center">
                <a href="~/ADM/PratosCadastrados">
                    <img src="~/img/pratos.png" width="100" height="100" />
                    <br />
                    <h4 class="FonteMenu"> Pratos </h4>
                </a>
            </div>

        </div>
        <div class="col-sm-2">
            <div id="DivRelatorioAvaliação" class="text-right">
                <a href="~/ADM/CervejasCadastradas">
                    <img src="~/img/cerveja.png" width="100" height="100" />
                    <br />
                    <h4 class="FonteMenu">Cervejas</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="DivRelatorioAvaliação" class="text-right">
                <a href="/ADM/BuffetCadastrado">
                    <img src="~/img/duffet.png" width="100" height="100" />
                    <br />
                    <h4 class="FonteMenu">Buffet</h4>
                </a>
            </div>
        </div>

    </div>
</div>

