@{
    ViewBag.Title = "MenuProdCadastro";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}

<div class="row" style="margin: 3rem 0">
    <div class="col-sm-12 text-center">
        <h2>Relatórios de Produtos</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 text-center">
        <a class="block-link" href="~/ADM/PratosCadastrados" title="Pratos">
            <img src="~/img/pratos.png" alt="Pratos">
            <h4>Pratos</h4>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="block-link" href="~/ADM/QueijosCadastrados" title="Queijos">
            <img src="~/img/queijo.png" alt="Queijos">
            <h4>Queijos</h4>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="block-link" href="~/ADM/VinhosCadastrados" title="Vinhos">
            <img src="~/img/vinho.png" alt="Vinhos">
            <h4>Vinhos</h4>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="block-link" href="~/ADM/CervejasCadastradas" title="Cervejas">
            <img src="~/img/cerveja.png" alt="Cervejas">
            <h4>Cervejas</h4>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="block-link" href="/ADM/BuffetCadastrado" title="Buffet">
            <img src="~/img/buffet-2.png" alt="Buffet">
            <h4>Buffet</h4>
        </a>
    </div>
</div>
<div class="row" style="margin-top: 5rem">
    <div class="col-sm-12">
        <button class="btn btn-success" type="button" onclick="(function(){window.history.back()})()">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Voltar
        </button>
    </div>
</div>