@{
    ViewBag.Title = "QueijosCadastrados";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}
@using Domain.Entity
@using Infra.Repository;

<div class="row" style="margin: 5rem 0">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="DivIncluir" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">Queijos Cadastrados</div>
            </div>
            <div class="panel-body">
                @{
                    QueijoRepository vr = new QueijoRepository();
                    List<Queijo> listQueijo = new List<Queijo>(vr.ObterTodos());
                }
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <td class="text-center">
                            <label class="FonteMenuLabel text-center">Nome </label>
                        </td>
                        <td class="text-center">
                            <label class="FonteMenuLabel text-center">Valor </label>
                        </td>
                        <td class="text-center">
                            <label class="FonteMenuLabel text-center">Quantidade </label>
                        </td>
                        <td class="text-center">
                            <label class="FonteMenuLabel text-center">Nacionalidade</label>
                        </td>
                    </tr>
                    @foreach (var item in listQueijo)
                    {
                        <tr>
                            <td class="text-center">
                                <label class="FonteMenuLabel text-center">@item.NomeQueijo</label>
                            </td>
                            <td class="FonteMenu text-center">
                                <label class="FonteMenuLabel text-center">@item.Valor</label>
                            </td>
                            <td class="text-center">
                                <label class="FonteMenuLabel text-center">@item.QTDQueijoEstoque</label>
                            </td>
                            <td class="text-center">
                                <label class="FonteMenu text-center">@item.Nacionalidade</label>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success" type="button" onclick="(function(){window.history.back()})()">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Voltar
        </button>
    </div>
</div>