@{
    ViewBag.Title = "Relatorio_Produtos";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}

<div class="row" style="margin: 3rem 0">
    <div class="col-sm-12 text-center">
        <h2>Relatório de Vendas</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <a class="block-link" href="~/ADM/RelatorioVendaVinho" title="Por Produto">
            <img src="~/img/relatorio.png" alt="Por Produto">
            <h4>Por Produto</h4>
        </a>
    </div>
</div>
<div class="row" style="margin-top: 5rem">
    <div class="col-sm-12">
        <button class="btn btn-success" type="button" onclick="(function(){window.history.back()})()">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Voltar
        </button>
    </div>
</div>