
@{
    ViewBag.Title = "Relatorios";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}
<div class="row">
    <div class="col-sm-3">
        <a href="~/ADM/Index">
            <img src="~/img/voltar.png" width="120" height="120" />
        </a>
    </div>
</div>
<div class="container">
    <br />
    <br />
    <div class="text-center">
        <h2>Relatórios</h2>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   
    <div class="row">

        <div class="col-sm-3">
            <div id="DivCriarFormulario" class="text-right">
                <a href="~/ADM/RelatorioCliente">
                    @*<img src="~/img/CriarQuestionario.png" width="150" height="150" />*@
                    @*<br />*@
                    <h4 class="FonteMenu">Clientes Cadastrados</h4>
                </a>
            </div>
            @*<br />
            <br />
            <div id="DivCriarFormulario" class="text-right">
                <a href="~/ADM/Relatorios">
                    <img src="~/img/relatorio.png" width="150" height="150" />
                    <br />
                    <h4 class="FonteMenu">Relatórios</h4>
                </a>
            </div>*@
        </div>

        <div class="col-sm-3">
            <div id="DivEnvioResult" class="text-center">
                <a href="~/ADM/RelatorioUsuario">
                    @*<img src="~/img/user.png" width="150" height="150" />*@
                    @*<br />*@
                    <h4 class="FonteMenu">Usuários Cadastrados</h4>
                </a>
            </div>
            @*<br />
            <br />
            <div id="DivEnvioResult" class="text-center">
                <a href="~/ADM/CadastroCliente">
                    <img src="~/img/cad_cli.png" width="150" height="150" />
                    <br />
                    <h4 class="FonteMenu">Cadastro De Clientes</h4>
                </a>
            </div>*@
        </div>

        <div class="col-sm-3">
            <div id="DivEnvioQuestionario" class="text-center">
                <a href="~/ADM/MenuProdCadastro">
                    @*<img src="~/img/conta_menu_principal.png" width="150" height="150" />*@
                    @*<br />*@
                    <h4 class="FonteMenu"> Produtos Cadastrados </h4>
                </a>
            </div>
        </div>

        <div class="col-sm-3">
            <div id="DivEnvioQuestionario" class="text-center">
                <a href="~/ADM/Relatorio_Produtos">
                    @*<img src="~/img/conta_menu_principal.png" width="150" height="150" />*@
                    @*<br />*@
                    <h4 class="FonteMenu"> Relatório De Vendas </h4>
                </a>
            </div>
        </div>





    </div>
</div>


