@{
    ViewBag.Title = "Relatorios";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}
<div class="row" style="margin: 3rem 0">
    <div class="col-sm-12 text-center">
        <h2>Relatórios</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-center">
        <a class="block-link" href="~/ADM/RelatorioCliente" title="Clientes">
            <img src="~/img/rel-clientes.png" alt="Clientes">
            <h4>Clientes</h4>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a class="block-link" href="~/ADM/RelatorioUsuario" title="Usuários">
            <img src="~/img/rel-usuarios.png" alt="Usuários">
            <h4>Usuários</h4>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a class="block-link" href="~/ADM/Relatorio_Produtos" title="Vendas">
            <img src="~/img/rel-vendas.png" alt="Vendas">
            <h4>Vendas</h4>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a class="block-link" href="~/ADM/MenuProdCadastro" title="Produtos">
            <img src="~/img/rel-produtos.png" alt="Produtos">
            <h4>Produtos</h4>
        </a>
    </div>
</div>
<div class="row" style="margin-top: 5rem">
    <div class="col-sm-12">
        <button class="btn btn-success" type="button" onclick="(function(){window.history.back()})()">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Voltar
        </button>
    </div>
</div>