
@{
    ViewBag.Title = "Relatorios";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}

<div class="container">
    <br />
    <br />
    <div class="text-center">
        <h2>Relatórios</h2>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   
    <div class="row">

        <div class="col-sm-6">
            <div id="DivCriarFormulario" class="text-right">
                <a href="~/ADM/RelatorioCliente">
                    @*<img src="~/img/CriarQuestionario.png" width="150" height="150" />*@
                    @*<br />*@
                    <h4 class="FonteMenu">Relatório de Clientes</h4>
                </a>
            </div>
            @*<br />
            <br />
            <div id="DivCriarFormulario" class="text-right">
                <a href="~/ADM/Relatorios">
                    <img src="~/img/relatorio.png" width="150" height="150" />
                    <br />
                    <h4 class="FonteMenu">Relatórios</h4>
                </a>
            </div>*@
        </div>

        <div class="col-sm-4">
            <div id="DivEnvioResult" class="text-center">
                <a href="~/ADM/CadastroUsuario">
                    @*<img src="~/img/user.png" width="150" height="150" />*@
                    @*<br />*@
                    <h4 class="FonteMenu">Relatório de Usuários</h4>
                </a>
            </div>
            @*<br />
            <br />
            <div id="DivEnvioResult" class="text-center">
                <a href="~/ADM/CadastroCliente">
                    <img src="~/img/cad_cli.png" width="150" height="150" />
                    <br />
                    <h4 class="FonteMenu">Cadastro De Clientes</h4>
                </a>
            </div>*@
        </div>



        <div class="col-sm-2">
            @*<div id="DivEnvioQuestionario" class="text-center">
                <a href="~/ADM/CadastroConta">
                    <img src="~/img/conta_menu_principal.png" width="150" height="150" />
                    <br />
                    <h4 class="FonteMenu"> Abrir Conta </h4>
                </a>
            </div>*@
        </div>


    </div>
</div>


