
@{
    ViewBag.Title = "Relatorio_Produtos";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        <a href="~/ADM/Relatorios">
            <img src="~/img/voltar.png" width="120" height="120" />
        </a>
    </div>
</div>

<div class="container">
    <br />
    <br />
    <div class="text-center">
        <h2>Relatório de venda Produtos</h2>
    </div>
    <br />
    <br />
    <div class="row">
        <br />
        <br />
      
        <div class="col-sm-7 ">
            <div id="DivCriarFormulario" class="text-right">
                <a href="/ADM/RelatorioVendaVinho">
                    <img src="~/img/relatorio.png" width="100" height="100" />
                  
                    <h4 class="FonteMenu">Relatório de Produtos</h4>
                </a>
            </div>
        </div>      
    </div>
</div>

