@{
    ViewBag.Title = "Venda_conta_buffet";
    Layout = "~/SharedMaster/MasterADM.cshtml";
}
@using Domain.Entity;
@using Infra.Repository;
@model Site.Models.ModelContaAvulsa

<div class="row" style="margin: 5rem 0">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="CriarQuestionario" class="panel panel-primary">
            <div class="panel-heading">
                Conta Buffet
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("CadastroContaFidelizadaOld", "ADM", FormMethod.Post))
                {

                    ClienteRepository cl = new ClienteRepository();
                    List<Cliente> listcerv = new List<Cliente>(cl.ClientesFidelizados());
                    List<SelectListItem> listaCli = new List<SelectListItem>();
                    foreach (var itemcerva in listcerv)
                    {
                        listaCli.Add(new SelectListItem
                        {
                            Text = itemcerva.NomeCliente,
                            Value = Convert.ToString(itemcerva.IdCliente)
                        });
                    }
                    ViewBag.cli = new SelectList(listaCli, "NomeCliente");
                    <div class="input-group">
                        <span class="input-group-addon">Cliente</span>
                        @Html.DropDownList("IdsCli", listaCli, "selecione")
                    </div>
                    <input type="hidden" name="bft" value="0" />
                    <br />
                    <button type="submit" class="btn btn-success btn-sm">Continuar</button>
                }
            </div>
            <div class="text-center">
                <label class="FonteMenu">@ViewBag.Mensagem</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success" type="button" onclick="(function(){window.history.back()})()">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Voltar
        </button>
    </div>
</div>