.vs/
*.cache
Site/bin/Site.dll
Site/bin/Site.pdb
Site/obj/Debug/Site.dll
Site/obj/Debug/Site.pdb
.vs/Buffet/v15/.suo
.vs/Buffet/v15/Server/sqlite3/storage.ide-shm
.vs/Buffet/v15/Server/sqlite3/storage.ide-wal
Domain/bin/Debug/Domain.dll
Domain/bin/Debug/Domain.pdb
Domain/obj/Debug/Domain.dll
Domain/obj/Debug/Domain.pdb
Domain/obj/Debug/Domain.csproj.CoreCompileInputs.cache
Infra/bin/Debug/Domain.dll
Infra/bin/Debug/Domain.pdb
Infra/bin/Debug/Infra.dll
Infra/bin/Debug/Infra.pdb
Infra/obj/Debug/Infra.dll
Infra/obj/Debug/Infra.pdb
Infra/obj/Debug/Infra.csproj.CoreCompileInputs.cache
Infra/obj/Debug/Infra.csproj.FileListAbsolute.txt
Infra/obj/Debug/Infra.csprojAssemblyReference.cache
UnitTestProject1/bin/Debug/Domain.dll
UnitTestProject1/bin/Debug/Domain.pdb
UnitTestProject1/bin/Debug/Infra.dll
UnitTestProject1/bin/Debug/Infra.pdb
UnitTestProject1/bin/Debug/UnitTestProject1.dll
UnitTestProject1/bin/Debug/UnitTestProject1.pdb
UnitTestProject1/obj/Debug/UnitTestProject1.dll
UnitTestProject1/obj/Debug/UnitTestProject1.pdb
UnitTestProject1/obj/Debug/UnitTestProject1.csproj.CoreCompileInputs.cache
UnitTestProject1/obj/Debug/UnitTestProject1.csproj.FileListAbsolute.txt
UnitTestProject1/obj/Debug/UnitTestProject1.csprojAssemblyReference.cache
